<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>💥ONLYONE FAIR</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        window.onload = function() {
            document.getElementById('serial-number').focus();
        };
    </script>
</head>
<div class="container">
        <div class="title-container">
            <div class="title">
              <h1>NFC를 태그해주세요!</h1>
            </div>
            <div class="clock">
                <h2 id="clock">00:00:00</h2>
                <p id="future-time" style="display: none;">08:00 후 시각: --:--:--</p>
            </div>
        </div>
        <hr class="hr-14">
        <div class="comment">
          <h1 id="comment">
            <form action="{{ url_for('submit_serial_number') }}" method="POST">
                <input type="text" id="serial-number" name="serial-number" placeholder="키보드로 입력하기" required>
                <button type="submit">GO!</button>
            </form>
          </h1>
        </div>
    </div>
</html>
